.navbar{
  background-color: #663399 !important;

}
.nav-link{
  color: #fff !important;
  font-weight: bold;
  font-size: 20px !important;

}
.fa-whatsapp{
  font-size: 32px !important;
}
.nav-item> a:hover{
  color: #EE82EE	 !important;
}
.btn-floating{
  font-weight: bold;
  font-size: 40px !important;
}
h1{
  color:#FFFF00 ;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: 4px 4px #4B0082;
}
.container-fluid{
  background-color: #C0C0C0;
}
p{
  justify-content: center;
  padding: 0 40px 40px 40px;
}
